# Segurança
ADMIN_TOKEN=your_admin_token_here

# Configurações do Banco
DATABASE_URL=sqlite:///./ouroboros.db

# Configurações do Firebase (Opcionais)
# FIREBASE_PROJECT_ID=
# FIREBASE_PRIVATE_KEY=
# FIREBASE_CLIENT_EMAIL=

# Configuração do Evento
EVENT_NAME=Feira da Troca 2025
MAX_COMANDAS=1000
